* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Pagina Index */
.intro__body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
}

.intro__main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}

.intro__footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

/* Pagina Seleçao de Personagem */

.selection__body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
}

.selection__main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}

.selection__footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

/* Pagina Personagem 1,2 e 3 */
.chr1__body {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
}

.chr1__main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}

.chr1__footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

/* Pagina Personagem 2 */
.chr2__body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
}

.chr2__main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}

.chr2__footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

/* Pagina Personagem 3 */
.chr3__body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
}

.chr3__main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}

.chr3__footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}